{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block extra_css %}
<style>
  .header {
    background-color: rgb(250, 212, 255);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }

  .header-content {
    background-color: beige;
    color: rgb(30, 0, 68);
    border-radius: 1rem;
    border: 1px solid red;
    padding: 1rem;
    text-align: center;
  }

  .header-content h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .header-content h2 {
    font-size: 1.2rem;
    margin: 0.3rem 0;
  }
  .header-content h4 {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="header">
  <div class="header-content">
    <h1>FEDERAL UNIVERSITY OF TECHNOLOGY, OWERRI</h1>
    <h2>DEPARTMENT OF COMPUTER SCIENCE STUDENTS</h2>
    <h4>CIT 306 WEB DEVELOPMENT PROJECT, GROUP 14</h4>
  </div>
</div>
<h2>About the Departmental Board</h2>
<p>This project was built for CIT306. It provides announcements, events, timetables and results for students.</p>
{% endblock %}
